/* 
position : relative : 상대적인 위치
*/

div{
  width: 300px;
  height: 300px;
  font-size: 2rem;
  text-align: center;
  /* 위의 높이와 같이 라인높이를 주게되면 임시방편으로 글자를 가운데로 준다 */
  line-height: 300px;
  border: 1px solid black;
}

.d1{
  background-color: rgb(163, 194, 102);
}
.d2{
  background-color: rgb(236, 236, 13);
}
.d3{
  background-color: rgb(184, 184, 104);
}
/* hover는 d2클래스에 마우스를 올리면~바뀌는 속성 */
.d2:hover{
  background-color: rgb(165, 13, 236);

  position: relative;
  top: 20px;
  left: 20px;



}