/* position : absolute속성을 사용하면 절대 위치를 지정할 수 있는데 기준은 body 태그이다.
body 태그가 기준이 아니라, 우리가 원하는 태그를 기준으로 잡고 싶을 때는 position : absolute 속성을 줄 태그의 부모에 position:relative 를 준다
*/

img{
  border: 2px solid rgb(23, 208, 14);
  border-radius: 200px;
  width: 200px;
  height: 200px;

  position: absolute;
}

.img-1{
  left: 0px;
  z-index: 3;
}

.img-2{
  left: 100px;
  z-index: 2;
  top: 100px;
}

.img-3{
  left: 200px;
  z-index: 1;
}

/* 우리가 원하는 태그를 기준으로 잡고 싶을 때는 position : absolute 속성을 줄 태그의 부모에 position:relative(상대적 관련있는) 를 준다 */
.img-div{
  position : relative;
}