/* 
position : 태그의 배치를 변경할 때 사용
1. static : 포지션 속성을 사용하지 않을 때 기본값 
2. fixed : 특정위치에 태그 고정, 
          스크롤해도 따라다님(영향 안받음)
          ->화면 좌상단이 기준
3. absolute : 특정위치에 태그 고정, 
             스크롤해도 따라다니지 않음
            ->화면 좌상단이 기준
4. relative : static 위치(원래위치)를 기준으로 상대적으로 배치를 시킴

5. relative + absolute
 absolute 속성을 부여하면 태그의 위치는 
 화면 좌상단을 기준으로 하지만
absolute 속성이 부여된 태그의 부모태그에 relative 속성을 부여하면 absolute 속성은 부모태그 위치를 기준으로 움직인다. 
position 속성은 반드시 top, left, right, bottom 속성과 함께 사용
ex> top : 10px -> 위에서부터 10px떨어지겠다.
    right : 20px; -> 오른쪽에서 20픽셀 떨어지겠다.

*/

.d1{
  font-size: 3rem;
  /* 줄간격 */
  line-height: 100px; 
}
.d2{
  border: 1px solid black;
  width: 100px;
  /* fixed는 화면기준으로 스크롤해도 고정된 자리에 그대로 있다  */
  position: fixed;
  top: 0px;
  right: 0px;
}